<ul class="list-group">
  <h4>Listado</h4>
  <li *ngFor="
  let character of characterList;
  let i = index
  let isFirst = first;
  let isLast = last;
  let isEven = even;
  let isOdd = odd;
  " class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass]="{
    'list-group-item-dark' : isLast,
    'list-group-item-primary' : isEven
  }">

    <div>
      <span class="text-primary">{{i + 1}}.-</span>
      <span>{{ character.name }} - </span>
      <strong> Power: </strong>
      <span>{{ character.power }}</span>
    </div>

    <button class="btn btn-danger btn-sm"
    (click)="onDeleteCharacter(character.id)">
      <i class="fas fa-trash-alt"></i>
    </button>

  </li>
</ul>
